# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
conda/
*.egg-info/

# Logs
logs/
*.log
nohup.out

# Results
results/
outputs/
wandb/

# Data
data/
data_fever/
data_sample/
*.jsonl
*.json
*.csv

# Models
models/
checkpoints/
*.bin
*.pt
*.pth
*.safetensors

# OS
.DS_Store

# VSCode
.vscode/
